@model DeliverDancingGoatMVC.Models.ArticleCollectionViewModel
@{
    ViewBag.Title = Resources.DancingGoat.Articles;
    var i = 1;
    var englishCulture = System.Globalization.CultureInfo.CreateSpecificCulture("en-us");
}
@foreach (var article in @Model.Items)
{
    <div class="col-md-3">
        <div class="article-tile">
            <a href="@Url.Action("Show", "Articles", new { id = article.System.Codename })">
                <img src="@article.TeaserImage.Url" class="article-tile-image" alt="Article @article.System.Name" />
            </a>
            <div class="article-tile-date">
                @article.PostDate.ToString("m", englishCulture)
            </div>
            <div class="article-tile-content">
                <h2 class="h4">
                    <a href="@Url.Action("Show", "Articles", new { id = article.System.Codename })">@article.System.Name </a>
                </h2>
                <p class="article-tile-text">
                    @article.Summary
                </p>
            </div>
        </div>
    </div>
    if (i % 4 == 0)
    {
        <div class="clear"></div>
    }
    i++;
}