@model DeliverDancingGoatMVC.Models.ArticleViewModel
@{
    ViewBag.Title = Model.System.Name;
    var englishCulture = System.Globalization.CultureInfo.CreateSpecificCulture("en-us");
    var relatedArticles = Model.RelatedArticles;
}
<article class="article-detail col-lg-9 col-md-12 article-detail-related-box">
    <h2>@Model.System.Name</h2>
    <div class="article-detail-datetime">
        @Model.PostDate.ToString("D", englishCulture)
    </div>
    <div class="row">
        <div class="article-detail-image col-md-push-2 col-md-8">
            <img src="@Model.TeaserImage.Url" class="img-responsive" alt="Article @Model.System.Name" />
        </div>
    </div>
    <div class="row">
        <div class="article-detail-content">
            @Model.BodyCopy
        </div>
    </div>
</article>
@if (relatedArticles.Any())
{
    <div class="article-related-articles">
        <h1 class="title-tab">@Resources.DancingGoat.Articles_RelatedArticles</h1>
        <div class="row">
            @foreach (var article in relatedArticles)
            {
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="article-tile">
                        <a href="@article.Url">
                            <img src="@article.TeaserImage.Url" class="article-tile-image" alt="Article @Model.System.Name" />
                        </a>
                        <div class="article-tile-date">
                            @article.PostDate.ToString("m", englishCulture)
                        </div>
                        <div class="article-tile-content">
                            <h2 class="h4">
                                <a href="@article.Url">@article.System.Name</a>
                            </h2>
                            <p class="article-tile-text">
                                @Model.Summary
                            </p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}