<nav role="navigation">
    <ul>
        <li>
            @Html.ActionLink(Resources.DancingGoat.Home, "Index", "Home")
        </li>
        <li>
            @Html.ActionLink(Resources.DancingGoat.Store, "Index", "Coffees")
        </li>
        <li>
            @Html.ActionLink(Resources.DancingGoat.Articles, "Index", "Articles")
        </li>
        <li>
            @Html.ActionLink(Resources.DancingGoat.AboutUs, "Index", "About")
        </li>
        <li>
            @Html.ActionLink(Resources.DancingGoat.Cafes, "Index", "Cafes")
        </li>
        <li>
            @Html.ActionLink(Resources.DancingGoat.Contact, "Index", "Contacts")
        </li>
    </ul>
</nav>